aiofiles==25.1.0 ; python_version >= "3.11" and python_version < "3.15"
aiogram==3.28.2 ; python_version >= "3.11" and python_version < "3.15"
aiohappyeyeballs==2.6.2 ; python_version >= "3.11" and python_version < "3.15"
aiohttp==3.13.5 ; python_version >= "3.11" and python_version < "3.15"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "3.15"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.15"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==26.1.0 ; python_version >= "3.11" and python_version < "3.15"
certifi==2026.5.20 ; python_version >= "3.11" and python_version < "3.15"
dotenv==0.9.9 ; python_version >= "3.11" and python_version < "3.15"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "3.15"
idna==3.17 ; python_version >= "3.11" and python_version < "3.15"
magic-filter==1.0.12 ; python_version >= "3.11" and python_version < "3.15"
multidict==6.7.1 ; python_version >= "3.11" and python_version < "3.15"
propcache==0.5.2 ; python_version >= "3.11" and python_version < "3.15"
pydantic-core==2.46.4 ; python_version >= "3.11" and python_version < "3.15"
pydantic-settings==2.14.1 ; python_version >= "3.11" and python_version < "3.15"
pydantic==2.13.4 ; python_version >= "3.11" and python_version < "3.15"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_version < "3.15"
redis==8.0.0 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.15"
yarl==1.24.2 ; python_version >= "3.11" and python_version < "3.15"
yt-dlp-ejs==0.8.0 ; python_version >= "3.11" and python_version < "3.15"
yt-dlp==2026.3.17 ; python_version >= "3.11" and python_version < "3.15"
sqlalchemy==2.0.41 ; python_version >= "3.11" and python_version < "3.15"
asyncpg==0.31.0 ; python_version >= "3.11" and python_version < "3.15"